@model Song
@{
    ViewData["Title"] = "Create Song";
}

<form method="post" asp-action="Create">
  <div class="form-group d-grid gap-3">
    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter song Name">
    <span asp-validation-for="Name" class="text-danger"></span>
    <input type="text" class="form-control" id="SongUrl" name="SongUrl" placeholder="Enter Song Url">
    <span asp-validation-for="SongUrl" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
